.row.form-group
  .col-xs-12
    .col-xs-8.text-center
      %p
        &nbsp
      %button.btn.btn-primary{"ng-click" => "propose()", "ng-disabled" => "processing"} Obter propostas
    .col-xs-4.pull-right
      %p
        %strong Quantidade mínima de agrupamentos
      %input.form-control{type: "number", "ng-model" => "params.clusters", min: 2}
