.row.form-group
  .col-xs-12.text-center
    %button.btn.btn-primary{"ng-click" => "propose()", "ng-disabled" => "processing"} Obter propostas
    %button.btn.btn-warning{"ng-click" => "clusterer(params.clusters)", "ng-disabled" => "processing"} Obter apenas os agrupamentos
    %button.btn.btn-warning{"ng-click" => "calculate_score()", "ng-disabled" => "processing"} Obter apenas a classificação
    %button.btn.btn-warning{"ng-click" => "get_pairs(params.pairs_to_pick)", "ng-disabled" => "processing"} Obter apenas os pares
.row.form-group.text-center
  .col-xs-12
    .col-xs-5
      %p
        %strong Quantidade mínima de agrupamentos
      %input.form-control{type: "number", "ng-model" => "params.clusters", min: 2}
    .col-xs-2
      %p
        %strong Classificar?
      %input.form-control{type: "checkbox", "ng-model" => "params.scorer", checked: true}
    .col-xs-5
      %p
        %strong Quantidade de pares
      %input.form-control{type: "number", "ng-model" => "params.pairs_to_pick", min: 1}
