%html{"ng-app" => "graph_bl"}
  %head
    %title="GraphBL"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .div{"ng-view" => ""}
      = yield
