#map
  width: 80%
  height: 600px
  margin: auto
  opacity: 0.99
  border-radius: 300px

body
  margin: 5px
  background-color: currentColor

div
  color: white

input
  color: black

.left-panel
  border-right: 3px solid $brand-warning
